.Profile {
  text-align: center;
  color: #000000;

  &-avatar {
    width: 400px;
    // border-radius: 80px;
  }
  
  &-icon {
    color: #000000;
    margin: 0 10px 0 10px;
  }

  .bar {
    width: 20%;
    border: none;
    border-top: 1px solid #999;
  }
}
