.Profile {
  text-align: center;

  &-avatar {
    width: 200px;
    border-radius: 80px;
  }
  
  &-icon {
    color: #ffffff;
    margin: 0 10px 0 10px;
  }

  .bar {
    width: 30%;
    border: none;
    border-top: 1px solid rgba(255,255,255,.14);
  }
}
