.Header {
  text-align: center;
  font-size: 14px;

  &-inner {
    padding: 20px 50px 20px 50px;
  }

  &-bar {
    text-align: right;

    > a {
      color: rgba(86, 86, 86, 0.78);
      margin: 0 1em;
      letter-spacing: 0em;
      text-decoration: none;
    }
    a:hover {
      color: black;
      transition: color 1s;
      // transition: color 1s, padding 0.4s, letter-spacing 0.4s;
    }
  }

  &-under-construct {
    text-decoration: line-through !important;
  }
}